<html lang="en" ng-app="myApp">
<head>
    <title>Apitest Dashboard</title>
    <meta name="author" content="Lev Aminov <leoderoko@gmail.com>">
    <meta name="description" content="Apitest Dashboard">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.13/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="css/main.css">
</head>
<body ng-cloak>
  <md-content layout="column">
    <md-content class="md-whiteframe-z2">
      <md-toolbar ng-controller="UserController">
          <div class="md-toolbar-tools">
            <h2 md-truncate="" flex=""><a href="/">Apitest Dashboard</a> <sup>&alpha;</sup></h2>
            <md-button ng-click="logout()">Logout</md-button>
          </div>
      </md-toolbar>
      <md-content>
        <ng-view></ng-view>
      </md-content>
    </md-content>
  </md-content>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.7/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.7/angular-route.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.7/angular-animate.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.7/angular-aria.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.7/angular-cookies.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.13/angular-material.min.js"></script>
  <script src="js/app.js?v=1"></script>
  <script src="js/services.js?v=1"></script>
  <script src="js/controllers.js?v=1"></script>
  <script src="js/filters.js?v=1"></script>
</body>
</html>
