<md-content ng-show="!loaded" class="doc-content">
  <p>
    <md-progress-circular md-diameter="30px" md-mode="indeterminate"></md-progress-circular>
  </p>
</md-content>
  
<md-toolbar ng-show="loaded" class="md-site-toolbar-theme">
  <div class="md-toolbar-tools">
      <h2><a href="/"><md-icon md-font-set="material-icons">arrow_back</md-icon></a>&nbsp;Test details</h2>
      <md-button lass="md-primary small" ng-click="deleteTest($event)"><md-icon md-font-set="material-icons">delete</md-icon>&nbsp;Delete</md-button>
  </div>
</md-toolbar>
  
<md-content ng-show="loaded" class="doc-content">
  <md-list>
    <h3>{{test.name}}</h3>
    {{test.description}}
    <p ng-show="test.tags">
      <ul class="command-example-list">
        <li ng-repeat="tag in test.tags"><span class="command-examples">{{tag}}</span></li>
      </ul>
    </p>
    <p>
      Result: <span style="background-color: {{test.color}}; text-transform: uppercase">{{test.result}}</span>
    </p>
    <p>
      Started: {{test.started_at | date : 'dd.MM.yyyy, HH:mm:ss' }}
    </p>
    <p>
      Finished: {{test.finished_at | date : 'dd.MM.yyyy, HH:mm:ss' }}
    </p>
    <p>
      Steps:
    </p>
    <p>
      <span ng-repeat="(id, step) in test.steps" ng-show="step.result">({{step.result}}) Step #{{id+1}}<span ng-show="step.note"> – {{step.note}}</span><br></span>
    </p>
    <p>
      Variables:
    </p>
    <p>
      <span ng-repeat="(name, value) in test.variables">{{name}}={{value}}<br></span>
    </p>
    <div ng-show="test.variables.Embed">
      <p ng-bind-html="test.variables.Embed | safeHtml"></p>
    </div>
  </md-list>
</md-content>
