<md-content ng-show="!loaded" class="doc-content">
  <p>
    <md-progress-circular md-diameter="30px" md-mode="indeterminate"></md-progress-circular>
  </p>
</md-content>

<md-toolbar ng-show="loaded" class="md-site-toolbar-theme">
  <div class="md-toolbar-tools">
    <h2>Tests</h2>
    <md-button class="md-primary small" ng-click="refresh()"><md-icon md-font-set="material-icons">refresh</md-icon>&nbsp;Refresh</md-button>
  </div>
</md-toolbar>

<div ng-show="loaded" class="doc-content">
  <md-chips ng-model="dashboard" readonly="true">
    <md-chip-template title="{{$chip.description}}">
      <span style="color: {{$chip.color}}">{{$chip.state}}</span> <a ng-href="{{$chip.url}}">{{$chip.name}}</a>
    </md-chip-template>
  </md-chips>
</div>
