<md-content class="md-padding" layout="column" layout-align="center center" layout-fill="layout-fill">
    <form name="auth">
        <md-input-container>
            <label>Token</label>
            <input ng-model="token" required>
        </md-input-container>
        <div layout="row" layout-align="center center">
            <md-button ng-disabled="!auth.$valid" type="submit" class="md-primary" ng-click="saveToken()">Submit</md-button>
        </div>
    </form>          
</md-content>
